<head>
	<meta name="viewport" content="width=device-width, minimum-scale=1.00, maximum-scale=1.00, initial-scale=1.00, user-scalable=no, target-densitydpi=device-dpi, shrink-to-fit=no, viewport-fit=cover"/>
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Fig</title>

	<!--meta property="og:site_name" content="Fig"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http:///"/>
	<meta property="og:title" content="Fig"/>
	<meta property="og:description" content="Fig"/>
	<meta property="og:image" content="http:///social_logo.jpg"/>
	<meta property="og:image:type" content="image/jpeg"/>
	<meta property="og:image:width" content="510"/>
	<meta property="og:image:height" content="320"/-->
	
	<meta name="google-site-verification" content="36DH4CYYaTuGQ_0tTC7dZcTab2zvsZYy2d-f8ttt4fo"/>

	<meta name="apple-mobile-web-app-capable" content="yes"/>

	<meta name="theme-color" content="#4576BB"/>
	<meta name="msapplication-TileColor" content="#4576BB"/>
	<meta name="msapplication-TileImage" content="/mstile-144x144.png?v=NmYO8WoKWA"/>
	<meta name="msapplication-config" content="/browserconfig.xml"/>

	<link rel="manifest" href="/manifest.json"/>
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
	<link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192"/>
	<link rel="apple-touch-icon" href="/apple-touch-icon-57x57.png" sizes="57x57"/>
	<link rel="apple-touch-icon" href="/apple-touch-icon-60x60.png" sizes="60x60"/>
	<link rel="apple-touch-icon" href="/apple-touch-icon-72x72.png" sizes="72x72"/>
	<link rel="apple-touch-icon" href="/apple-touch-icon-76x76.png" sizes="76x76"/>
	<link rel="apple-touch-icon" href="/apple-touch-icon-114x114.png" sizes="114x114"/>
	<link rel="apple-touch-icon" href="/apple-touch-icon-120x120.png" sizes="120x120"/>
	<link rel="apple-touch-icon" href="/apple-touch-icon-144x144.png" sizes="144x144"/>
	<link rel="apple-touch-icon" href="/apple-touch-icon-152x152.png" sizes="152x152"/>
	<link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png" sizes="180x180"/>

	<link rel="stylesheet" type="text/css" href="/css/main_old.css"/>
</head>